<!--Career Section-->

<section id="career">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>경력</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h3>두루안 &bull; 문서보안개발실 &bull; 서버파트</h3>
                <h4>2012년 4월 &mdash; 2017년 1월</h4>
                <p>두루안의 ShadowCube 솔루션에서 서버파트를 담당하고 있습니다. ASP.NET 으로 개발되었고, UI 는 Ext.NET(= ext.js) 컴포넌트를 사용하였습니다. 서버의 거의 모든 부분을 개발 및 유지보수 하였고, SQL Server &bull; PostgreSQL 을 기반으로 하고 있습니다.</p>
                <p>2016년 말 ASP.NET Framework 4.0 으로 구현된 ShadowCube 솔루션을 Linux + Mono 환경으로 이전하는 것을 성공하였으며, 이를 계기로 관공서에 큰 홍보효과 및 영업이익이 있을 것으로 예상됩니다.</p>
            </div>
        </div>
    </div>
</section>