<!--Career Section-->

<section id="career">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>경력</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h3>두루안 &bull; 문서보안개발실 &bull; 서버파트</h3>
                <h4>2012년 4월 &mdash; 현재까지</h4>
                <p>ShadowCube 라는 DRM 솔루션에서 서버파트의 메인 개발자로 일하고 있습니다. ShadowCube 서버는 ASP.NET 웹폼 기반이며, UI 는 Ext.NET(= ext.js) 컴포넌트를 사용하여 개발하였습니다. 데이터베이스는 SQL Server, PostgreSQL 를 사용하고 있습니다.</p>
                <p>2016년 말 ASP.NET 으로 구현된 ShadowCube 솔루션을 Linux + Mono 환경으로 이전하는 것을 성공하였습니다. 이를 계기로 윈도우 서버를 구매하는데 어려움이 많은 기업들에게 홍보할 수 있게 되었고 영업이익도 늘어났습니다.</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h3>한국전자통신연구원(ETRI) &bull; 홈네티워크팀 &bull; 인턴</h3>
                <h4>2011년 4월 &mdash; 2012년 2월</h4>
                <p>가정 내 다양한 정보기기들을 상호간 네트워크할 수 있도록 표준 프로토콜을 만드는 팀에서 인턴으로 활동하였습니다.</p>
                <p>홈네트워크 표준 프로토콜을 검증하는 도구를 테스트 및 버그 사항을 리포팅하는 업무를 하였습니다. 또한, C++ 로 개발된 상호연동 엔진을 월패드(안드로이드 OS)에 탑재하는 업무도 하였습니다.</p>
                <p>인턴으로서 주어진 업무만 하는 것이 아니라 적극적인 자세로 과제를 수행하였으며, 현업에서 어떤 역량을 요구하는지 알게되었습니다.</p>
            </div>
        </div>
    </div>
</section>