<!--Career Section-->

<section id="career" class="secondary-blue">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>경력</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>두루안 &bull; 문서보안개발실 &bull; 서버파트</h3>
                <h4>2012년 4월 &mdash; 현재까지</h4>
                <p>ShadowCube 라는 DRM 솔루션에서 서버파트의 메인 개발자로 일하고 있습니다. 서버의 모든 일을 책임지고 개발하고 있습니다.</p>
                <p>ShadowCube 서버는 ASP.NET Webform 기반이며, UI 는 Ext.NET(= ext.js) 컴포넌트를 사용하여 개발하였습니다.</p>
                <p>데이터베이스는 MSSQL, PostgreSQL 를 능숙하게 다룹니다. 백업, 복원과 같은 운영적인 스킬이나 쿼리 튜닝 등의 경험을 가지고 있습니다.</p>
                <p>윈도우 ASP.NET 으로 개발된 ShadowCube 서버를 Linux (Mono) 환경으로 porting 경험, docker 서버로 porting 경험 등 개발뿐만 아니라 솔루션을 scale up 한 노하우를 가지고 있습니다.</p>
                <p>Visual C++ 로 개발된 DRM 암/복호화 기술을 Linux / Unix 시스템에서 동작하도록 개발한 경험도 있습니다.</p>
                <p>대우조선, 현대로템 등의 큰 고객사에 서버 운영 경험도 있습니다. 쉽게 경험하지 못할 여러 이슈들을 겪었고 처리하였습니다.</p>
            </div>
            <br />
            <div class="col-lg-12 text-center">
                <h3>한국전자통신연구원(ETRI) &bull; 홈네티워크팀 &bull; 인턴</h3>
                <h4>2011년 4월 &mdash; 2012년 2월</h4>
                <p>가정 내 다양한 정보기기들을 상호간 네트워크할 수 있도록 표준 프로토콜을 만드는 팀에서 인턴으로 활동하였습니다.</p>
                <p>홈네트워크 표준 프로토콜을 검증하는 도구를 테스트 및 버그 사항을 리포팅하는 업무를 하였습니다. 또한, C++ 로 개발된 상호연동 엔진을 월패드(안드로이드 OS)에 탑재하는 업무도 하였습니다.</p>
                <p>인턴으로서 주어진 업무만 하는 것이 아니라 적극적인 자세로 과제를 수행하였으며, 현업에서 어떤 역량을 요구하는지 알게되었습니다.</p>
            </div>
        </div>
    </div>
</section>