<!--Skills-->
<section id="skills">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>기술</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <ul data-bar-id="skill-aspnet">
                    <li data-value="90">ASP.NET</li>
                    <li data-value="90">Ext.NET(=ext.js)</li>
                    <li data-value="50">JQuery/Bootstrap</li>
                    <li data-value="70">SQL Server</li>
                    <li data-value="70">PostgreSQL</li>
                </ul>
                <div id="skill-aspnet"></div>
            </div>
        </div>
    </div>
</section>