<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="34px" height="34px" viewBox="0 0 34 34" enable-background="new 0 0 34 34" xml:space="preserve">  <image id="image0" width="34" height="34" x="0" y="0"
    xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAiCAYAAAA6RwvCAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QA/wD/AP+gvaeTAAAA
B3RJTUUH4QEJAhwp9uUV4gAABQ1JREFUWMPtl8uLHFUUxn/ndld3VXdPtxOdidGYjGanSJymZ4yC
D1Bw41+giOCDiCCCWbkQcSPuXLgSF+5UcKMg4kLU4APnQcaY6CIGY2YSM5kkzqsfVV1V97ioefV0
desYF1nkQEFxzrn3fvd895x7LlyXa1RkpwOmJn/AWksum8spDIDm1kyxIHWrtiUiWq3d+/8Dmfnh
O8jlQbWAUAMeBarALUBhzS0EFlT1pCpfi/AdzdXLeCWq44euHshPUxOAOCo8DLwEPAhU/mFYABwH
3o2i6GNjzKqbzXNXdfS/AZmZmgAYROQI8CIwuKN4Qxv4xFr7mmTMKWPhnrHxnQGZmZpE0BtV5G3g
CSCzQxBbZQLleQwnTGg5eKibKpMKYnoSFQoq8gbw5FWCALgX4R2UEZtNXbIbyMzUBCaXQ+BZ4Lk0
H1VFVbt01tou/RZ5CHgd1cLM9ESXsYOar345ymDLA7gb+BS4vWMxQBW8gkc261AqlchkkmAFQZt6
fRUbx7SDAFBEuphvrW3ug9hYatVNirJbvQabHqgKRp7ZDsJaS2VwF8PDu2k2mywvL9FoNAiCAAHy
rksmk2FwcBeu53Fx/gL1leUNoGviAS8AX2Ss+as3NQIYGQEe376VvOuy97Z9FIpFfL9F4PtcuXyJ
oNXCb7W4tLBAq9mk2WwwMDDAvv37yeXzaRTVgPu3K7MpjmPAyHZlEAT4vk+lUmHf/hGiKML3/Y0d
R1GE67o4joOI0G6HhGGI6abHAx5xJPvZsekJ1ivwBpCZ6cn139E0gAJEUZj8i+A4Do7jEIaJrlAo
dPi320G/InUw1KgoSKOLGgWsqkmLBomNRqPRoVtaXOTXkyf49eQJlhYXOyPoB/0yaA9QTqVGkp1m
6FG+jQh+q4Vqkg1hGHJu7izlSgVjDOfPzVIslXAcB1WlUa+nZc26lICOA5RWXXpuIwzbWGuTCFmL
tRbP88i7LnFs0TVbHMe02wF9RLevk920KKoaGzGLaSNFhLAd4vs+xWKRXC7HTUPDzM3OYoxhzy23
4uSSjqDVavU6qOuyqhBsxbJJjRpErAXO9tyGjTn92ylu3buXcrnC7pv3UBpIqC4Wi4RhyNLSIufn
5hCUPlfZvMDKVvsGkNGxsfXMOU7SWzjpaJSL8/OcPXMGr1CgXC4jwPm5WXzfx3EcjDHY2Paj5ues
Mc3Q2m4gW2QamAUOpM3gui4jdxxgZWWZleUV4jhGgFzeTSJUKvHHmd9p1Fd7gfBV9evIWqq1zZag
E0hC2R8In5M0QZ3nhKRwGWMYGhpmaGi4a5UwDPEDv180jonI99uVHVkThQqCBd4H5rqmECFsB5w/
N0e9XieKoo3jFkURzWaT+Qt/onHcK3UD4D0Rrti4Mzm7vGemJxGyKNErwFuknBVrLYqQy+colyuI
CCvLy4RhG1T71Y8PgMNAfbTW2amljpiZmgR0gKQ7e6aX3/bK2QcAqP4YxfYpgdO1Q/d1mVPbpdGx
cUBWRXl1jaYozU9EOr7eGPR7kMOZjDntZLOpPqbX4NGxcRQuoXoEeBNYZOfSRvkwjuOnXc/9eeHi
JQ7WxlId/+1zIqvCI8DLwAMkd0V/AHCC5DnxkcmYVU9y3Fmr9hzw7x5Y3x4FzwO0BHIIeIykb9nL
5uUVAwtW9bha+6Ux8k05X7y4EjSpjv3zq2/HT85j0xMoKoIpCtzAZi2yCqugyyC2Whvf6dTX5dqU
vwEjOx8bccKHigAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxNy0wMS0wOVQwMjoyODo0MS0wNzowMFdt
fZ0AAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTctMDEtMDlUMDI6Mjg6NDEtMDc6MDAmMMUhAAAAAElF
TkSuQmCC" />
</svg>
