<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">  <image id="image0" width="32" height="32" x="0" y="0"
    xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAABGdBTUEAALGPC/xhBQAAACBjSFJN
AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZ
cwAACxMAAAsTAQCanBgAAAAHdElNRQfhAQkFLzaKyWuiAAACm0lEQVRIx6XVTWhcVRQH8N9kJp2m
NkmTlEJicKYfSRs1dJQWUWhAEGI/Vrp0UVAKCm5aGoruBJcRLbjoRkFwYVUq2NTGhYtG3bhRoYu2
gXaqqS3SiVEkNjN5eS7mzXTemzQd2nM275x7zv+d/7nn3stDSiphpVvICYSrAfQ5aJ++BGSzhEpm
nDMfdw87pyJsUSumDDem95pqObmmZ/VCBhw0HitywQ1zbpm3aMV6PQbkDOpuIDjugE+rACljERAV
Pznjgt8sycrKCFXcUdYhb8zL9kax7cZqAGl99fRJk+Y96y279Ou2TqhswU2XfO49nzjumPao7WlB
lcZXEa9r8kibcF050bY/nJBGzrXId0ZGvfSqZGUReN8XthvQa4OURSW3FBUFyFrXmBIH6NLvMpYV
Fe8xB4M2NZptscUN8vedw6067l1Byo6Y3We3wK8WGnw74rMaB2Co1lkM+dAzQj86arYePxRPaEsA
bNNVXzlmyOveNGqifsg6kySTFQzY4q8odI/vfIbnPWWjv8EW/WsD9Bh0GfxnTkFBSsFVi9H6Y3rW
ptDh8eir7KRu35rW6aRK5B2J70FzBRz2g1+EuOAl+4WmXYzWRr1iFbk7ylW96l17dDdUl9Lpae+Y
jcWtMsqw5Lx9XjNn1px/BB7xqJ1yrjjviPX3o5Ax420vOqTgBVmhJX/62QemjXujOTwpaSNOO+1L
m2y2Ef+6bUGAkeb4ZgCekLEsUFJKQO9qDq42Koz59iqs1mu7PRezQ2EVIEj8Kedjr8rL1o9Nu7wj
PpKLxd0WVCmEZhyOrqnafp/yuyuKSpZ12eZJuQTdiu/vGg9yrX8dH+phU4lbcC0tO1s71qmGKg4Y
a/lp+6b2tCUf17YWAFYSu/Zw8j8tPxTr+z9ezwAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxNy0wMS0w
OVQwNTo0Nzo1NC0wNzowMK0yxTIAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTctMDEtMDlUMDU6NDc6
NTQtMDc6MDDcb32OAAAAAElFTkSuQmCC" />
</svg>
